* {
  text-align: center;
  font-family: Comic Sans MS;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="number"] {
  width: 200px;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
}

